{% if address and address is not empty %}
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ address.street }}</span>,
        <span itemprop="addressLocality">{{ address.city }}</span>
    </span>
{% endif %}