{%- spaceless -%}
  <div class="sitg tag">
    <iframe
      class="SITG_idadresse {{ variables.class }}"
      style="height: {{ variables.height }}px;"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      title="Carte SITG"
      src="{{ variables.url }}"
      frameborder="0"
    >
    </iframe>
  </div>
{%- endspaceless -%}

