{%- spaceless -%}
  <div class="sitg">
    <iframe
      class="SITG_idadresse {{ map.class }}"
      style="width: 100%;height: {{ map.height }}px;"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      title="Carte SITG"
      src="{{ map.url }}"
      frameborder="0"
    >
    </iframe>
  </div>
{%- endspaceless -%}

